header {
    padding: 18px 24px;
    height: 32px;
    width: calc(100% - 48px);
    background-color: rgba(22, 22, 22, 1);
    /* width: calc(100vw - 308px); */
    display: flex;
    align-items: center;
    justify-content: end;
}

.theme__text{
    margin-right: 3px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
}

.user-info__name{
    margin-left: 14px;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.28px;
}

.user-info__image {
    margin-left: 8px;
}